/PlatEducativa/nbproject/private/
/build/
/dist/
build/
dist/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
*.log
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.class
*~ 


.DS_Store*
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db